<div class="main w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="countainer w-50 d-flex justify-content-center flex-wrap">
        <div class="sectionOne w-100 d-flex justify-content-center align-items-center" [routerLink]="['../add-branch']">
            <div class="d-flex justify-content-center align-items-center">
                <div class="w-100 h-100"><p>ایجاد شعبه جدید</p></div>
            </div>
        </div>
        <div class="sectionTwo w-100 d-flex justify-content-center align-items-center">
            <div class="d-flex justify-content-center align-items-center">
                <div class="w-100 h-100"><p>ویرایش شعب</p></div>
            </div>
        </div>
    </div>
</div>