
label {
    font-weight: bolder !important;
}



form {
  padding: 3%;
  background: rgba(229.50, 229.50, 229.50, 0.50);
  backdrop-filter: blur(40px);
  border-radius: 16px;

}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 200px) { 
    
}
@media (max-width: 600px) { 
    form {
        padding: 10%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    #main {
        width: 80% !important;
    }
 }

 @media (min-width: 768px) { 
    #main {
        width: 50% !important;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
   
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    #main {
        width: 30% !important;
    }
 }






 