<div class="section-cards">
    <div class="card-services">
      <div class="card" *ngFor="let Item of branchItem">
        <div class="card-header">
          <img
            style="max-width: 200px; max-height: 200px; border-radius: 15px"
            src="{{ Item.BranchLogoUrl }}"
            alt=""
          />
        </div>
        <div class="card-body">
          <div class="branchName">{{ Item.BranchName }}</div>
          <div class="branchDescription">{{ Item.BranchDescription }}</div>
          <div class="portNumber"></div>
        </div>
        <div class="card-footer">
          <button class="card-btn">مشاهده</button>
        </div>
      </div>
    </div>
  </div>