<div class="section-cards">
    <div class="card-services">
      <div class="card">
        <div class="card-header">
          <img
            style="width: 100%; border-radius: 15px"
            src="../../assets/barber1.png"
            alt=""
          />
        </div>
        <div class="card-body">
          <div class="branchName">Asssssssss</div>
          <div class="ipAddress">bbbbbbbbbbbb</div>
          <div class="portNumber">ssssssss</div>
        </div>
        <div class="card-footer">
          <button class="card-btn">sssssss</button>
        </div>
      </div>
    </div>
  </div>